# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Test Artifacts
.coverage

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/
*.env

# Logs and databases
*.log
*.sqlite3

# Compiled Python files
*.pyc


.selenium/

# macOS
.DS_Store

# Windows
Thumbs.db
